body {
	background: url(image/background.png);
	color: black;
}
h1 {
	text-align: center;
	color: #ccffcc;
	font-size: x-large;
}
p.heading {
	text-align: #003333;
	font-size: large;
}
div.heading {
	float: center;
	padding: 1em;
	border: inset thick;
	background: #003333;
	color: white;
}
div.comment {
	margin: 1em 2em 2em 2em;
	padding: 0.5em;
	border: thick green solid;
	background: #ffffff;
}
div.topicleft {
	margin-left: 1em;
	margin-right: 15em;
}
div.topicleft h2 {
	text-align: left;
}
div.topicright {
	margin-left: 15em;
	margin-right: 1em;
}
div.topicright h2 {
	text-align: right;
}
hr.footnote {
	width: 75%;
	align: center;
}
address {
	text-align: right;
}
